/* Layout */

.layoutPage{
    /* Logo And Nav tab */

    .blur{
      border-bottom:none !important;
      background:rgba(16,11,32,0.5); 
    }

    .header{
     height: 14.81%;
     width: 100%;
     border-bottom:1px solid rgba(192,192,192,0.2);
     position:fixed;
     padding:50px 8.73%;
     padding-bottom: 20px;
     display: flex;
     align-items:flex-end;
     top: 0;
     left:0;
     right:0;
     z-index: 3;
 
     .textlogo{
       font-family: clash_display_bold;
       font-size:36px;  
       display: flex;
       cursor: pointer;
       transition: 0.5s;
       
       .whitetext{
         color:#fff;
       }
 
       .colortext{
         color:var(--light)
       }
     }

     .textlogo:hover{
        opacity: 0.5;
     }
 
     .header_menu{
       display: flex;
       position: absolute;
       right:8.73%;
       align-items: center;
       
 
       .each_menu{
         padding:10px 20px;
         font-size: 16px;
         color:#fff;
         cursor: pointer;
         transition: 0.5s;
       }
 
       .each_menu:hover{
         opacity: 0.7;
       }
 
       .register_btn{
         padding:7px 40px;
         border:none;
         border-radius:4px;
         margin-left: 60px;
         background: var(--gradient);
         font-size: 18px;
         color:#fff;
         cursor: pointer;
       }
     }

     .mobile_menu{
      width:32px;
      height: 32px;
      display: grid;
      grid-template-columns: 1fr;
      cursor: pointer;
      transition:0.5s;
      display: none;


      .li{
       height:4px;
       margin:2px 0px;
       width: 100%;
       background: white;
       border-radius:2px;
      }

      .lineOne{
        width:50%;
        justify-self: left;
      }

      .lineThree{
        width: 50%;
        justify-self: right;
      }
      
    }

    .mobile_menu:hover{
      opacity: 0.5;
    }

 
   
   }
 /* End */


   .sidenav{
    width:97%;
    height:auto;
    background: var(--dark);
    border-radius:10px;
    position: fixed;
    top:100px;
    left:10px;
    z-index: 5;
    padding:50px 10px;


    .register_btn{
      border:none;
      border-radius:4px;
      background: var(--gradient);
      font-size: 18px;
      color:#fff;
      cursor: pointer;
      height: 53px;
      width: 172px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:40px 20px;
      box-shadow: 2px 4px 0px rgba(0,0,0,0.5);
    }

    
   }


   .closediv{
    font-size: 20px;
    font-family:montserrat_semibold;
    color:white;
    border:3px solid var(--lighttwo);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:30px;
    width:40px;
    height: 40px;
   }


   .ul{
    .li{
      font-size: 16px;
      color:white;
      padding:20px 40px;
      font-weight: bold;
    }

    
   }

 



/* Responsive Design */


@media only screen and (max-width: 1250px) {


}


@media only screen and (max-width: 1000px) {
 .header{
  .header_menu{
    .each_menu{
      display: none;
    }

    .register_btn{
      display: none;
    }

    .mobile_menu{
      display: grid;
      
    }


  }
 }




}


@media only screen and (max-width: 800px) {
  .header{
   


   .textlogo{
  font-size: 25px;
   }  
  } 


}



@media only screen and (max-width: 600px) {
  .header{
     height: auto;
     padding:30px;
   } 


}







}


/* End of Layout */






