/* Layout */

.layoutPage{
    /* Logo And Nav tab */
    .header{
     height: 14.81%;
     width: 100%;
     border-bottom:1px solid rgba(192,192,192,0.2);
     position:absolute;
     padding:50px 8.73%;
     padding-bottom: 20px;
     display: flex;
     align-items:flex-end;
     top: 0;
     left:0;
     right:0;
     z-index: 3;
     /* background:rgba(16,11,32,0.5); */
    
 
     .textlogo{
       font-family: clash_display_bold;
       font-size:36px;  
       display: flex;
       cursor: pointer;
       transition: 0.5s;
       
       .whitetext{
         color:#fff;
       }
 
       .colortext{
         color:var(--light)
       }
     }

     .textlogo:hover{
        opacity: 0.5;
     }
 
     .header_menu{
       display: flex;
       position: absolute;
       right:8.73%;
       align-items: center;
       
 
       .each_menu{
         padding:10px 20px;
         font-size: 16px;
         color:#fff;
         cursor: pointer;
         transition: 0.5s;
       }
 
       .each_menu:hover{
         opacity: 0.7;
       }
 
       .register_btn{
         padding:7px 40px;
         border:none;
         border-radius:4px;
         margin-left: 60px;
         background: var(--gradient);
         font-size: 18px;
         color:#fff;
         cursor: pointer;
       }
     }
 
   
   }
 /* End */
}


/* End of Layout */